<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Mongo database config section-->
        <add key="url" value="localhost" />
        <add key="port" value="27017" />
        <add key="database" value="textmsgnode" />
        <add key="document" value="messages" />
    </appSettings>
</configuration>